<p id="notice"><%= notice %></p>

<p>
  <strong>Author:</strong>
  <%= @announcement.author %>
</p>

<p>
  <strong>Text:</strong>
  <%= @announcement.text %>
</p>

<p>
  <strong>Date:</strong>
  <%= @announcement.date %>
</p>

<%= link_to 'Edit', edit_announcement_path(@announcement) %> |
<%= link_to 'Back', announcements_path %>
