<%= form_with(model: bank, local: true) do |form| %>
  <% if bank.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bank.errors.count, "error") %> prohibited this bank from being saved:</h2>

      <ul>
      <% bank.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :bank_name %>
    <%= form.text_field :bank_name, id: :bank_bank_name %>
  </div>

  <div class="field">
    <%= form.label :street %>
    <%= form.text_field :street, id: :bank_street %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city, id: :bank_city %>
  </div>

  <div class="field">
    <%= form.label :estabilished_date %>
    <%= form.date_select :estabilished_date, id: :bank_estabilished_date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
