<p id="notice"><%= notice %></p>

<p>
  <strong>Cpu name:</strong>
  <%= @computer.cpu_name %>
</p>

<p>
  <strong>Cpu clock:</strong>
  <%= @computer.cpu_clock %>
</p>

<p>
  <strong>Cpu cores:</strong>
  <%= @computer.cpu_cores %>
</p>

<p>
  <strong>Gpu name:</strong>
  <%= @computer.gpu_name %>
</p>

<p>
  <strong>Gpu clock:</strong>
  <%= @computer.gpu_clock %>
</p>

<p>
  <strong>Gpu cores:</strong>
  <%= @computer.gpu_cores %>
</p>

<%= link_to 'Edit', edit_computer_path(@computer) %> |
<%= link_to 'Back', computers_path %>
